permit-app/.yarn/*
permit-api/.yarn/*
permit-app/.pnp.cjs
permit-api/.pnp.cjs
permit-app/.pnp.loader.mjs
permit-api/.pnp.loader.mjs
permit-app/.pnp.loader.cjs
#permit-app/.yarn/install-state.gz
permit-app/creds.txt
.~lock*
